$border-thickness: 4px;
$font-color-grey: #f0f0f0;
$font-size: 16px;
$font-size-l: 18px;
$font-size-xl: 24px;
$font-size-xxl: 30px;
$gap-size: 30px;

@mixin breakpoint {
  @media (min-width: #{767px}) {
    @content;
  }
}

@mixin flex-container {
  display: flex;
  flex-direction: column;
  gap: $gap-size;

  @include breakpoint {
    flex-direction: row;
  }
}
