$about-image-size: 155px;

.About {
  @include breakpoint {
    @include flex-container;
    align-items: center;
  }
}

  .About-image {
    flex: 1 0 $about-image-size;
    margin: 0 auto;
    padding: $border-thickness;
    max-width: 100%;
    width: $about-image-size;
    height: $about-image-size;
    border-radius: 50%;
    background: linear-gradient(to bottom, #000000, white);
    

    @include breakpoint {
      margin: 0;
    }
  }

  .About-details {
    flex: 1 1 100%;

    p {
      font-size: $font-size-l;
      line-height: 24px;
    }
  }