.App-section {
  padding: 40px 15px;
  max-width: 100%;

  &:nth-child(odd) {
    background-color: #f0f0f0;
  }

  @include breakpoint {
    padding: 40px 30px;
  }
}

.App-container {
  max-width: 100%;
  width: 964px;
  margin: 0 auto;
}
