$lab-image-size: 300px;

.Lab {}

  .Lab-projects {
    @include flex-container;
    gap: $gap-size * 2;
  }

    .Lab-project {
      margin-bottom: 20px;
      width: 300px;
    }

    .Lab-image {
      flex: 1 0 $lab-image-size;
      width: $lab-image-size;
      height: $lab-image-size;
      border: 1px solid grey;
      border-radius: 10px;
      overflow: hidden;

      img {
        max-width: 100%;
      }

      @include breakpoint {

      }
    }

    .Lab-description {
      flex: 1 1 100%;
    }