$lab-image-size: 300px;

.Lab {
}

.Lab-projects {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $gap-size * 2;

  @include breakpoint {
    grid-template-columns: repeat(3, 1fr);
  }
}

.Lab-project {
  margin-bottom: 20px;
  width: 100%;
}

.Lab-image {
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;

  a {
    display: block;
  }

  img {
    width: 100%;
  }
}

.Lab-name {
  a {
    color: #000000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.Lab-description {
  flex: 1 1 100%;
}
