.Work {
}

.Work-companies {
  display: grid;
  grid-template-columns: 100%;
  gap: $gap-size / 2;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @include breakpoint {
    grid-template-columns: 50% 50%;
  }
}

.Work-company {
  display: flex;
  align-items: center;
  gap: $gap-size / 2;
}

.Work-company-logo {
  width: 75px;
  height: 75px;
  max-width: 100%;
  border-radius: 50%;
}

.Work-company-details {
  width: auto;
}

.Work-company-name {
  a {
    color: #000000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
